<div class="container">
  <div>
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <div>
    <form>
  <select [(ngModel)]="serialPortId1" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let sp of serialPorts; index as id" [ngValue]="id">{{sp.path}}</option>
  </select><br>
  <select [(ngModel)]="serialPortId2" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let sp of serialPorts; index as id" [ngValue]="id">{{sp.path}}</option>
  </select>
  </form>
  </div>
  <br>
  <br>
  <a (click)="startSerialPorts()" class="button">Connect to selected serials ports</a>
  <br>
  <br>
  <a (click)="sendDataSerialPort1()" class="button">send data to selected serials ports</a>
  <br>
  <br>
  <a (click)="closeSerialPorts()" class="button">Close and reset serials ports</a>
  <br>
  <br>
  <a (click)="resetSerialPorts()" class="button">Reset serials ports</a>
  </div>
  <div class="console">
    <a [innerHTML]="console"> </a>
  </div>
</div>
